.btn-blue{
	background-color: #004225;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.btn-blue:hover{
	background-color: #FFB000;
	color: rgb(0,0,0);
}